.dialog-icon {
  text-align: center;
  padding-top: 24px;
}

.warn-icon {
  font-size: 56px;
  width: 56px;
  height: 56px;
  color: #ff9800;
}

.dialog-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.dialog-content {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
